// COLORS
$purple: #a975f1;
$yellow: #fbe94f;
$white: #fff;
$pink: #e6008a;
$dark-gray: #333;
$light-gray: #adadad;
$secondary-pink: #ffb3e1;
$secondary-yellow: #fae31d;
$gray: #654690;

// FONTS
$montserrat: 'Montserrat', sans-serif;
$the-seasons: 'the-seasons', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-xl: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-med: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-xs: 25em; // 400px;
