.button,
a.button,
a.button:visited {
  font-family: $montserrat;
  text-decoration: none;
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  width: max-content;
  border: none;
  cursor: pointer;

  transition: all 0.3s ease-in;

  &.purple {
    background-color: $purple;
    color: $white;
  }

  &.pink {
    background-color: $pink;
    color: $white;
  }

  &:hover {
    transform: translateY(-0.3rem) scale(1.05);
  }
}

.linkBtn,
.linkBtn:visited {
  font-family: $montserrat;
  text-decoration: none;
  display: block;
  padding: 2rem 4rem 2rem 4rem;
  font-size: 1.6rem;
  width: max-content;
  border: none;
  cursor: pointer;
  width: 100%;
  color: $pink;

  transition: all 0.3s ease-in;

  &:hover,
  &.activeBtn {
    background-color: $pink;
    color: $white;
  }
}
